DerivedDataCache/
Intermediate/
Saved/Logs/
Saved/Config/CrashReportClient/
Saved/
.vs/
UE4ChromaSDK.VC.VC.opendb
UE4ChromaSDK.VC.db
Binaries/
UE4ChromaSDK.sln
*.zip
Intermediate_old/
Intermediate_old2/
Intermediate_old3/
UnrealEngineVersionChanger/bin/
UnrealEngineVersionChanger/obj/
